In [3]:
import json
with open("solana_data.json", "r") as read_file:
    readmebitch = json.load(read_file)

In [4]:
import pandas as pd
prices_df = pd.DataFrame(readmebitch["prices"], columns=["Timestamp", "Price"])
marketcap_df = pd.DataFrame(readmebitch["market_caps"], columns=["Timestamp", "MarketCap"])
total_volumes_df = pd.DataFrame(readmebitch["total_volumes"], columns=["Timestamp", "TotalVolumes"])

df = pd.merge(prices_df, marketcap_df, on="Timestamp")
df = pd.merge(df, total_volumes_df, on="Timestamp")

In [5]:
df.head()

       Timestamp      Price     MarketCap  TotalVolumes
0  1680307200000  21.205402  8.194996e+09  4.159474e+08
1  1680393600000  21.083500  8.133720e+09  2.519486e+08
2  1680480000000  20.565439  7.929638e+09  2.509397e+08
3  1680566400000  20.436690  7.900169e+09  5.297529e+08
4  1680652800000  20.921101  8.093519e+09  3.484730e+08

In [6]:
import math

def shift_time(number, power, base=10):
    return number * base**power

power = -3
TimestampMod = []
for time in df['Timestamp']:
    #print(time, round(shift_time(time, power), 3)) # new type is a float
    time_mod = round(shift_time(time, power), 3)
    TimestampMod.append(round(shift_time(time, power), 3))

In [7]:
df['TimestampMod'] = TimestampMod

In [8]:
# convert unix times to readable dates
df['date'] = pd.to_datetime(df['TimestampMod'], unit='s')

# extract year, month, day, hour, minute, and second
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute
df['second'] = df['date'].dt.second

In [9]:
df.head()

,Timestamp,Price,MarketCap,TotalVolumes,TimestampMod,date,year,month,day,hour,minute,second
0,1680307200000,21.205402,8.194996e+09,4.159474e+08,1.680307e+09,2023-04-01,2023,4,1,0,0,0
1,1680393600000,21.083500,8.133720e+09,2.519486e+08,1.680394e+09,2023-04-02,2023,4,2,0,0,0
2,1680480000000,20.565439,7.929638e+09,2.509397e+08,1.680480e+09,2023-04-03,2023,4,3,0,0,0
3,1680566400000,20.436690,7.900169e+09,5.297529e+08,1.680566e+09,2023-04-04,2023,4,4,0,0,0
4,1680652800000,20.921101,8.093519e+09,3.484730e+08,1.680653e+09,2023-04-05,2023,4,5,0,0,0

In [13]:
df.to_csv('solana_data_mod.csv', sep='\t', encoding= 'utf-8')